@import url("https://fonts.googleapis.com/css2?family=HP+Simplified+Jpan:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@400&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply leading-[normal] m-0;
  font-size: 0.5rem !important;
}
*,
::before,
::after {
  border-width: 0;
}

/* page 1 */
.nav-container {
  @apply bg-peachpuff flex flex-col p-10 text-center font-hp-simplified-jpan;

  /* @apply overflow-hidden flex flex-col py-[38px] px-24 box-border items-end justify-end text-center text-21xl text-black font-hp-simplified-jpan; */
  /* @apply flex bg-peachpuff p-5 justify-center text-center */
  /* @apply w-[1440px]; */
}

.nav-container-2 {
  @apply bg-peachpuff flex flex-col p-10 text-center font-hp-simplified-jpan h-28;

  /* @apply overflow-hidden flex flex-col py-[38px] px-24 box-border items-end justify-end text-center text-21xl text-black font-hp-simplified-jpan; */
  /* @apply flex bg-peachpuff p-5 justify-center text-center */
  /* @apply w-[1440px]; */
}

.circle {
  @apply grid place-items-center top-[0px] left-[0px] rounded-[50%] bg-white shadow-[5px_5px_7px_2px_rgba(0,_0,_0,_0.25)] w-[82px] h-[83px];
}

.red {
  @apply bg-tomato;
}

.desktop-9-resp {
  @apply relative bg-white text-left text-21xl text-black font-inter;
}

.nav-items {
  @apply relative  h-[100px];
}

.button-hover:hover {
  @apply bg-tomato;
}
.button-hover:hover * {
  @apply text-white;
}

.page-one-items {
  @apply grid m-auto w-[50%] mt-10 gap-3 justify-center;
  align-items: center;
}

.page1-textbox {
  @apply [border:none] bg-[transparent] w-[40rem];
}

@media only screen and (min-width: 1024px) {
  /* .page-one-items {
    @apply bg-red-500;
  } */
  .nav-items {
    @apply scale-100;
  }
  .nav-items > * {
  }
}

/* /page 2 / */
/* styles.css */

/* Apply a border to the entire table */
table {
  border-collapse: collapse;
  width: 100%;
}

/* Style for table headers */
th {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
  font-size: 24px;
}

/* Style for table cells */
td {
  border: 1px solid black;
  text-align: center;
  font-size: 18px;
}

/* Additional styles for pagination and search input */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.nav-text {
  @apply text-center text-xl text-black mt-2 w-[9rem];
}

.search-input {
  border: 2px solid black;
  width: 300px;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.module-column {
  width: 25rem;
  padding-left: 1rem;
}

.checkbox-column {
  padding-left: 1rem;
  padding-right: 1rem;
}

.search {
  border-color: tomato;
  border-width: 0.5rem;
}

.bold-header {
  @apply font-extrabold text-6xl
  /* Add more custom styles here... */;
}

.MuiDataGrid-checkboxInput.Mui-checked,
.MuiButton-textPrimary {
  color: tomato;
}

.MuiDataGrid-overlayWrapper {
  height: 100px;
}

/* Add lines between circles */
.wizard-step > * {
  cursor: pointer;
}
.table {
  @apply w-[50%] m-auto;
}

.button-divs {
  @apply grid grid-cols-2 grid-flow-row gap-10 mt-10;
}

.main-div {
  @apply grid grid-cols-6;
}
.left-div {
  @apply grid-cols-1;
}
.right-div {
  @apply col-span-5;
}

@media screen and (min-width: 1440px) {
  .lines {
    @apply bg-black w-[12rem] h-[2px] mb-8;
  }
}

@media screen and (max-width: 1024px) {
  .table {
    @apply w-[70%] m-auto;
  }
  .page1-textbox {
    @apply [border:none] bg-[transparent] w-[30rem];
  }

  .button-divs {
    @apply grid grid-cols-2 grid-flow-row  mt-10 m-auto;
  }

  .main-div {
    @apply grid grid-cols-5;
  }
  .left-div {
    @apply col-span-1;
  }
  .right-div {
    @apply col-span-4;
  }
  .nav-text {
    font-size: medium;
    width: 7rem;
  }
  .lines {
    @apply bg-none w-0 h-0 mb-8;
  }
}

@media screen and (max-width: 768px) {
  .table {
    @apply w-[500px] m-auto;
  }
  .page1-textbox {
    @apply [border:none] bg-[transparent] w-[25rem];
  }

  .main-div {
    @apply grid grid-cols-4;
  }
  .left-div {
    @apply col-span-1;
  }
  .right-div {
    @apply col-span-3;
  }
  .nav-text {
    font-size: medium;
    width: 7rem;
  }
  .lines {
    @apply bg-none w-0 h-0 mb-8;
  }
}
